.weather-app,
.github-link {
  max-width: 750px;
  display: block;
  margin: 0 auto;
  margin-top: 60px;
}

.weather-app {
  max-width: 750px;
  display: block;
  margin: 0 auto;
  margin-top: 60px;
  border-radius: 20px;
  background-color: white;
  padding: 30px;
  font-family: "Fira sans";
}

.github-link {
  padding-left: 30px;
}
